
<div ng-controller="mainPageController"> 
    <div class="alert alert-info"> 
        <input type="text" ng-model='OriginUser' placeholder="Your name "/ size="10"> <br><br>
        <input type="text" ng-model='newThreadTitle' placeholder="New title..."/ size="20"> <br><br>
        <textarea name="random value" cols="30" rows="5" ng-model='Text12' placeholder="New text..."></textarea>
        <br><br>
        <button ng-click="addThread();logout() " class="btn btn-info">Add thread</button>   
    </div> 
</div> 